@{
    ViewData["Title"] = "Register Here";
}
<h3>@ViewData["Title"]</h3>

<div style="width: 400px;">

<!-- Pills content -->
  <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
    <form action="/Auth/NewUser">
      <!-- Name input -->
      <div class="form-outline mb-4">
        <input type="text" id="name" class="form-control" name="name"/>
        <label class="form-label" for="registerName">Name</label>
      </div>

      <!-- Username input -->
      <div class="form-outline mb-4">
        <input type="text" id="username" class="form-control" name="username"/>
        <label class="form-label" for="registerUsername">Username</label>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="email" class="form-control" name="email"/>
        <label class="form-label" for="registerEmail">Email</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="pwd" class="form-control" name="pwd"/>
        <label class="form-label" for="registerPassword">Password</label>
      </div>

      <!-- Repeat Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="confirmpwd" class="form-control" name="confirmpwd"/>
        <label class="form-label" for="registerRepeatPassword">Repeat password</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-3 ">Register</button>
    </form>
  </div>
</div>
<!-- Pills content -->
</div>